#message{
    text-align: center;
    margin-top:40px;
    margin-right: 450px;
    margin-left: 450px;
  }

  #table{
    text-align:left;
    border: 2px solid rgb(149, 174, 226);
    margin-top:60px;
    margin-left: auto;
    margin-right: auto;
    margin-top:40px;
    border-spacing: 2px;
    border-collapse: separate;
  }
  #td{
    height:60px;
  }